[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LaF"]
	path = LaF
	url = https://github.com/djvanderlaan/laf
[submodule "reclin2"]
	path = reclin2
	url = https://github.com/djvanderlaan/reclin2
[submodule "simplermarkdown"]
	path = simplermarkdown
	url = https://github.com/djvanderlaan/simplermarkdown
